* {
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#main-box {
  display: flex;
  align-items: center;
}

#log {
  width: 100px;
  height: 34px;
  border: none;
  align-self: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#user {
  border: 1px solid lightgray;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  height: 30px;
  width: 150px;
}

#App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#App h3 {
  font-size: 50px;
}

#FormContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 5px;
  outline: 2px red dashed;
  padding: 10px;
}

#FormContainer button {
  width: 100px;
  height: 30px;
  background: lightgray;
  border: none;
  border-radius: 20px;
  align-self: center;
}

#FormContainer button:hover {
  background: gray;
  color: white;
  transition: all 0.2s;
}

#FormContainer button:active {
  background: gainsboro;
  width: 105px;
  height: 35px;
  color: white;
}

#ChatContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 430px;
  width: 430px;
}

#Messages {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 430px;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 15px;
  scrollbar-width: none;
}
#Messages:hover {
  scrollbar-width: thin;
}

#Messages p {
  padding: 0;
  margin: 2px;
  border: 2px dashed rgb(46, 214, 130);
  width: max-content;
  border-radius: 2%;
  padding: 10px;
  margin-bottom: 10px;
}

#Messages p b {
  color: black;
}

#ChatContainer b {
  color: lightgreen;
}

#ChatFooter {
  display: flex;
  margin-top: 20px;
}

#ChatFooter button {
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 10px;
}

#ChatFooter input {
  border: 1px solid lightgray;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 10px;
  width: 300px;
}

#ChatFooter input:focus {
  outline: 12px rgb(46, 214, 130);
}

#OnlinePeople {
  border: 1px dashed rgba(96, 216, 96, 0.445);
  padding: 10px;
}

#OnlinePeople ul {
  
  padding-left: 20px;
}

#OnlinePeople li {
  list-style: none;
  cursor: pointer;
}

